<!doctype html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <div th:replace="~{|recruit/include/admin/inc_admin_head|}"></div>
    <script src="//t1.kakaocdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <link rel="stylesheet" th:href="@{/css/recruit/admin/center.css}">
<body id="page-top">
<div class="wrapper recruitList">
    <div th:replace="~{|recruit/include/admin/inc_admin_header|}"></div>

    <div class="container">
        <div th:replace="~{|recruit/include/admin/inc_admin_side_left|}"></div>
        <div class="contents">
            <div class="inner">
                <div class="tabWrap">
                    <div class="tabCon">
                        <div class="tab">
                            <div class="headerArea flexBox">
                                <h2>공고 관리</h2>
                                <div class="link">센터 관리 &gt; 공고 관리</div>
                            </div>
                            <ul class="outInfo2 mt10">
                                <li>검색을 통해 공고를 찾아보실 수 있습니다.</li>
                            </ul>
                            <div class="item mt20">
                                <div class="itemCon show">
                                    <div class="recruitColumn v2">
                                        <h4>검색어</h4>
                                        <div class="rightCon mb10">
                                            <select name="searchType" id="searchType" class="wdh_218">
                                                <option value="title">공고명</option>
                                                <option value="center_name">센터명</option>
                                            </select>
                                            <input type="text" class="limit ml5 wdh_450" id="searchKeyword"
                                                   placeholder="검색어를 입력해주세요." onkeyup="enterKey(event);">
                                        </div>
                                    </div>
                                    <div class="recruitColumn v2">
                                        <h4>진행상태</h4>
                                        <div class="rightCon mb10">
                                            <select name="jobStatus" id="jobStatus" class="wdh_218">
                                                <option value="">전체</option>
                                                <option value="1">진행중</option>
                                                <option value="2">종료</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="recruitColumn v2">
                                        <h4>등록일</h4>
                                        <div class="rightCon">
                                            <div class="selWrap">
                                                <select name="" id="dateSelect" class="wdh_218">
                                                    <option value="regDt" id="searchRegDate">등록일</option>
                                                    <option value="modDt" id="searchModDate">수정일</option>
                                                </select>
                                            </div>
                                            <div class="dateBox flexBox mt10">
                                                <div class="radioWrap flexBox">
                                                    <input type="radio" id="dayAll" name="dayType" value="all"
                                                           class="square" checked="checked">
                                                    <label for="dayAll">전체</label>
                                                    <input type="radio" id="dayPeriod" name="dayType" value="period"
                                                           class="square">
                                                    <label for="dayPeriod">기간</label>
                                                </div>
                                            </div>
                                            <div class="dateBox flexBox mt10 dateTerms" style="visibility:hidden">
                                                <div class="radioWrap flexBox">
                                                    <input type="radio" id="day" name="day" value="1" class="square"
                                                           checked>
                                                    <label for="day">오늘</label>
                                                    <input type="radio" id="day7" name="day" value="7" class="square">
                                                    <label for="day7">1주일</label>
                                                    <input type="radio" id="day30" name="day" value="30" class="square">
                                                    <label for="day30">1개월</label>
                                                    <input type="radio" id="day90" name="day" value="90" class="square">
                                                    <label for="day90">3개월</label>
                                                    <input type="radio" id="day180" name="day" value="180"
                                                           class="square">
                                                    <label for="day180">6개월</label>
                                                    <input type="radio" id="day365" name="day" value="365"
                                                           class="square">
                                                    <label for="day365">1년</label>
                                                </div>
                                                <div class="calWrap flexBox">
                                                    <div class="inpWrap">
                                                        <input type="text" placeholder="" class="" id="str_date"
                                                               readonly/>
                                                    </div>
                                                    <span class="inpTxt ml5">~</span>
                                                    <div class="inpWrap ml5">
                                                        <input type="text" placeholder="" class="" id="end_date"
                                                               readonly/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="btnWrap">
                                        <button class="btnType btnSize44 btnLineG3" onclick="fn_searchReset()">초기화
                                        </button>
                                        <button class="btnType btnSize44 btnColorP2" onclick="fn_searchList()">조회
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <!-- item -->
                            <div class="item">
                                <p class="total2 pt20">공고목록 <span class="small ml5">총 <em id="totalCount"></em>개</span>
                                </p>
                                <div class="tblTop">
                                    <div>
                                    </div>
                                    <div>
                                        <select name=regDate"" id="regDate" class="wdh_160">
                                            <option value="">등록일순</option>
                                        </select>
                                        <select name="pageRow" id="pageRow" class="wdh_160 ml5"
                                                onchange="fn_searchList()">
                                            <option value="10" selected>10개씩</option>
                                            <option value="30">30개씩</option>
                                            <option value="50">50개씩</option>
                                            <option value="100">100개씩</option>
                                        </select>
                                    </div>
                                </div>
                                <div id="grid_admin_goods_list" class="gridWrap">
                                    <div class="card" style="overflow-x: auto;">
                                        <table id="searchList" class="p-datatable" style="width:100%">
                                            <thead class="p-datatable-thead">
                                            <tr>
                                                <th style="width: 4%;">No</th>
                                                <th style="width: 10%;">등록 센터</th>
                                                <th style="width: 20%;">제목</th>
                                                <th style="width: 10%;">등록일자</th>
                                                <th style="width: 5%;">진행상태</th>
                                                <th style="width: 5%;">신고 횟수</th>
                                            </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>

                                    </div>
                                    <!-- Paginator 컴포넌트 -->
                                    <div class="p-paginator p-paginator-bottom" id="PAGE_NAVI">
                                    </div>
                                    <input type="hidden" id="PAGE_INDEX" name="PAGE_INDEX" value="1"/>
                                </div><!-- item -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script th:inline="javascript">
    let element_layer = document.getElementById('addrSearch');

    $(document).ready(function () {
        getHistoryList('init');
    });

    let tableTotalLength;

    function getHistoryList(type) {

        let dayType = $("input[name='dayType']:checked").val()
        let param = {
            "PAGE_INDEX": $("#PAGE_INDEX").val(),
            "pageRow": $("#pageRow").val(),
            "searchType": $('#searchType').val(),
            "searchKeyword": $('#searchKeyword').val(),
            "centerStatus": $('#centerStatus').val(),
            "jobStatus": $('#jobStatus').val(),
            "dateType": $("#dateSelect").val(),
            "strDate": (dayType === 'period') ? $("#str_date").val() : "",
            "endDate": (dayType === 'period') ? $("#end_date").val() : "",
        }

        if ($('input[name=dayType]:checked').val() != 'all') {
            param.strDate = $('#str_date').val();
            param.endDate = $('#end_date').val();
        }

        $.ajax({
            url: "/recruit/admin/center/ajax/jobpostingList",
            data: JSON.stringify(param),
            type: 'POST',
            contentType: 'application/json',
            beforeSend: function (xhr) {
                $('.loading').show();
            },
            success: function (data) {
                if (type === 'init') {
                    getHistoryListCallback(data);
                } else {
                    reDrawTable(data);
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                confirmModal({title: jqXHR.statusText});
            },
            complete: function () {
                $('.loading').hide();
            }
        })
    }

    function getHistoryListCallback(value) {
        tableTotalLength = value.total;
        const list = value.data;

        var params = {
            divId: "PAGE_NAVI",
            pageIndex: "PAGE_INDEX",
            totalCount: tableTotalLength,
            recordCount: $("#pageRow").val(),
            eventName: "getHistoryList"
        };
        gfn_renderPaging(params);

        $('#searchList').DataTable({
            destroy: true,
            data: list,
            columnDefs: [
                {targets: '_all', className: 'text-center'}
            ],
            columns: [
                {
                    data: null,
                    render: function (data, type, row, meta) {
                        const pageIdx = parseInt($('#PAGE_INDEX').val() || 1);
                        const pageRow = parseInt($("#pageRow").val() || 10);

                        return tableTotalLength - ((pageIdx - 1) * pageRow) - meta.row;
                    }
                }
                , {data: 'center_name'}
                , {
                    data: null,
                    render: function (data, type, row, meta) {
                        if (!data) return "-";
                        return '<a class="postingLink" onclick="postingViewPageMove(' + row.seq + ')">' + data.title + '</a>';
                    }
                }
                , {
                    data: null,
                    render: function (data, type, row, meta) {
                        if (!data || !data.regDt) {
                            return '<span>-</span>';
                        }

                        return '<span>' + data.regDt + '</span>';
                    }

                }
                , {
                    data: null,
                    render: function (data, type, row, meta) {
                        const status = data?.job_status?.toString();

                        if (status === '1') return '<span class="badgeStyle badgeUse">진행중</span>';
                        else if (status === '2') return '<span class="badgeStyle badgeNo">종료</span>';
                        else return '<span class="badgeStyle badgeWait">알수없음</span>';
                    }
                }
                , {
                    data: null,
                    render: function (data, type, row, meta) {
                        if (data?.flag_cnt?.toString() === '0') {
                            return '<span>' + data?.flag_cnt + '</span>';
                        } else {
                            return '<span class="badgeNo">' + data?.flag_cnt + '</span>';
                        }
                    }
                }
            ],
            scrollY: false,
            scrollX: false,
            paging: true,
            pageLength: 100,
            dom: 't',
            language: {
                emptyTable: "조회하신 결과가 없습니다",
                info: "Showing _START_ to _END_ of _TOTAL_ entries"
            },
            order: [0, 'desc']
        });
        $('.total2 #totalCount').html(numberWithCommas(tableTotalLength));
    }

    const postingViewPageMove = (seq) => {
        let url = `/recruit/admin/center/jobpostingView`;
        if (seq) {
            url += "/" + seq
        }
        location.href = url;
    }
</script>
</html>