<!doctype html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <div th:replace="~{|recruit/include/admin/inc_admin_head|}"></div>
    <link rel="stylesheet" href="../../../../static/css/recruit/user/contents.css">
</head>
<body id="page-top">
<div class="wrapper recruitColumn">
    <div th:replace="~{|recruit/include/admin/inc_admin_header|}"></div>

    <div class="container">
        <div th:replace="~{|recruit/include/admin/inc_admin_side_left|}"></div>
        <div class="contents">
            <div class="inner">
                <div class="tabWrap">
                    <div class="tabCon">
                        <div class="tab">
                            <div class="headerArea flexBox">
                                <h2>게시물 관리</h2>
                                <div class="link">게시물 관리 &gt; 개시물 관리</div>
                            </div>
                            <ul class="outInfo2 mt10">
                                <li>게시물을 검색하여 정보를 확인하실 수 있습니다.</li>
                            </ul>
                            <div class="item mt20">
                                <div class="itemCon show">
                                    <div class="recruitColumn v2">
                                        <h4>제목</h4>
                                        <div class="rightCon mb10">
                                            <input type="text" class="limit wdh_450" id="searchKeyword"
                                                       placeholder="검색어를 입력해주세요." onkeyup="enterKey(event);">
                                        </div>
                                    </div>
                                    <div class="recruitColumn v2">
                                        <h4>유형</h4>
                                        <div class="rightCon mb10">
                                            <select id="type" class="wdh_218">
                                                <option value="">전체</option>
                                                <option value="1">공지사항</option>
                                                <option value="2">FAQ</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="recruitColumn v2">
                                        <h4>팝업사용여부</h4>
                                        <div class="rightCon mb10">
                                            <select id="popYn" class="wdh_218">
                                                <option value="">전체</option>
                                                <option value="Y">사용</option>
                                                <option value="N">미사용</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="recruitColumn v2">
                                        <h4>기간</h4>
                                        <div class="rightCon">
                                            <div class="selWrap">
                                                <select name="" id="dateSelect" class="wdh_218">
                                                    <option value="regDt" id="searchRegDate">등록일</option>
                                                    <option value="modDt" id="searchModDate">수정일</option>
                                                </select>
                                            </div>
                                            <div class="dateBox flexBox mt10">
                                                <div class="radioWrap flexBox">
                                                    <input type="radio" id="dayAll" name="dayType" value="all"
                                                           class="square" checked="checked">
                                                    <label for="dayAll">전체</label>
                                                    <input type="radio" id="dayPeriod" name="dayType" value="period"
                                                           class="square">
                                                    <label for="dayPeriod">기간</label>
                                                </div>
                                            </div>
                                            <div class="dateBox flexBox mt10 dateTerms" style="visibility:hidden">
                                                <div class="radioWrap flexBox">
                                                    <input type="radio" id="day" name="day" value="1" class="square"
                                                           checked>
                                                    <label for="day">오늘</label>
                                                    <input type="radio" id="day7" name="day" value="7" class="square">
                                                    <label for="day7">1주일</label>
                                                    <input type="radio" id="day30" name="day" value="30" class="square">
                                                    <label for="day30">1개월</label>
                                                    <input type="radio" id="day90" name="day" value="90" class="square">
                                                    <label for="day90">3개월</label>
                                                    <input type="radio" id="day180" name="day" value="180"
                                                           class="square">
                                                    <label for="day180">6개월</label>
                                                    <input type="radio" id="day365" name="day" value="365"
                                                           class="square">
                                                    <label for="day365">1년</label>
                                                </div>
                                                <div class="calWrap flexBox">
                                                    <div class="inpWrap">
                                                        <input type="text" placeholder="" class="" id="str_date"
                                                               readonly/>
                                                    </div>
                                                    <span class="inpTxt ml5">~</span>
                                                    <div class="inpWrap ml5">
                                                        <input type="text" placeholder="" class="" id="end_date"
                                                               readonly/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="btnWrap">
                                        <button class="btnType btnSize44 btnLineG3" onclick="fn_searchReset()">초기화
                                        </button>
                                        <button class="btnType btnSize44 btnColorP2" onclick="fn_searchList()">조회
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <!-- item -->
                            <div class="item">
                                <p class="total2 pt20">회원목록 <span class="small ml5">총 <em id="totalCount"></em>개</span>
                                </p>
                                <div class="tblTop">
                                    <div>
                                        <button class="btnType btnColorExcel btnSize36 txtExcel"
                                                onclick="fn_boardRegister()">글쓰기
                                        </button>
                                    </div>
                                    <div>
                                        <select name=regDate"" id="regDate" class="wdh_160">
                                            <option value="">등록일순</option>
                                        </select>
                                        <select name="pageRow" id="pageRow" class="wdh_160 ml5"
                                                onchange="fn_searchList()">
                                            <option value="10" selected>10개씩</option>
                                            <option value="30">30개씩</option>
                                            <option value="50">50개씩</option>
                                            <option value="100">100개씩</option>
                                        </select>
                                    </div>
                                </div>
                                <div id="grid_admin_goods_list" class="gridWrap">
                                    <div class="card" style="overflow-x: auto;">
                                        <table id="searchList" class="p-datatable" style="width:100%">
                                            <thead class="p-datatable-thead">
                                            <tr>
                                                <th style="width: 4%;">No</th>
                                                <th style="width: 5%;">유형</th>
                                                <th style="width: 10%;;">제목</th>
                                                <th style="width: 5%;">작성자</th>
                                                <th style="width: 5%">팝업 여부</th>
                                                <th style="width: 5%">작성일</th>
                                                <th style="width: 5%">최종수정일</th>
                                                <th style="width: 5%">내용확인</th>
                                                <th style="width: 5%">수정하기</th>
                                                <th style="width: 5%">삭제</th>
                                            </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>

                                    </div>
                                    <!-- Paginator 컴포넌트 -->
                                    <div class="p-paginator p-paginator-bottom" id="PAGE_NAVI">
                                    </div>
                                    <input type="hidden" id="PAGE_INDEX" name="PAGE_INDEX" value="1"/>
                                </div><!-- item -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="popLayer" class="popOverlay c popClose">
    <div class="popWrap">
        <div class="popInner">
            <span class="btnPopClose" onclick="popLayerClose();">닫기</span>
            <h2>게시글 상세보기</h2>
            <div class="popCnt type1">
                <div class="popItemCon">
                    <div class="mr10">
                        <div class="popTblTop v3 mt10"></div>
                        <div class="popBasicTblWrap mt20">
                            <table>
                                <input type="hidden" id="seq"/>
                                <colgroup>
                                    <col width="32%">
                                    <col width="auto">
                                </colgroup>
                                <tbody>
                                <tr>
                                    <th>기재기간</th>
                                    <td colspan="3">
                                        <p id="popPeriodNone" style="display:none;">기재기간 미사용</p>

                                        <div id="popPeriodWrap" style="display:none;">
                                            <p style="margin:0;">
                                                <span id="popPeriodStart"></span>
                                                <span> ~ </span>
                                                <span id="popPeriodEnd"></span>
                                                <span id="popPeriodForever" style="display:none;">무기한</span>
                                            </p>
                                        </div>

                                    </td>
                                </tr>
                                <tr>
                                    <th>유형</th>
                                    <td>
                                        <p id="popBoardType"></p>
                                    </td>
                                    <th>최종 수정일</th>
                                    <td>
                                        <p id="popBoardRegDt"></p>
                                    </td>
                                </tr>
                                <tr>
                                    <th>작성자</th>
                                    <td colspan="3">
                                        <p id="popBoardWriter"></p>
                                    </td>
                                </tr>
                                <tr>
                                    <th>제목</th>
                                    <td colspan="3">
                                        <p id="popBoardTitle"></p>
                                    </td>
                                </tr>
                                <tr>
                                    <th>내용</th>
                                    <td colspan="3">
                                        <div id="popBoardContent" style="padding:5px; min-height: 100px;"></div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="btnWrap">
                    <button class="btnType btnSize44 btnLineG3" onclick="popLayerClose();">닫기</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script th:inline="javascript">

    $(document).ready(function () {
        getHistoryList('init');
    });

    let tableTotalLength;
    function getHistoryList(type) {

        let dayType = $("input[name='dayType']:checked").val()
        let param = {
            "PAGE_INDEX": $("#PAGE_INDEX").val(),
            "pageRow": $("#pageRow").val(),
            "searchType": $('#searchType').val(),
            "searchKeyword": $('#searchKeyword').val(),
            "type": $('#type').val(),
            "useYn": $('#useYn').val(),
            "popYn": $('#popYn').val(),
            "dateType": $("#dateSelect").val(),
            "strDate": (dayType === 'period') ? $("#str_date").val() : "",
            "endDate": (dayType === 'period') ? $("#end_date").val() : "",
        }

        if ($('input[name=dayType]:checked').val() != 'all') {
            param.strDate = $('#str_date').val();
            param.endDate = $('#end_date').val();
        }

        $.ajax({
            url: "/recruit/admin/board/ajax/boardList",
            data: JSON.stringify(param),
            type: 'POST',
            contentType: 'application/json',
            beforeSend: function (xhr) {
                $('.loading').show();
            },
            success: function (data) {
                if (type === 'init') {
                    if("S" === String(data.resultCd).toUpperCase()){
                        getHistoryListCallback(data);
                    }else{
                        confirmModal({title: data.resultMsg});
                    }
                } else {
                    $('.total2 #totalCount').html(numberWithCommas(data.total));
                    reDrawTable(data);
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                confirmModal({title: jqXHR.statusText});
            },
            complete: function () {
                $('.loading').hide();
            }
        })

    }

    function getHistoryListCallback(value) {
        tableTotalLength = value.total;
        const data = value.data;

        const params = {
            divId: "PAGE_NAVI",
            pageIndex: "PAGE_INDEX",
            totalCount: tableTotalLength,
            recordCount: $("#pageRow").val(),
            eventName: "getHistoryList"
        };
        gfn_renderPaging(params);

        const columns = [
            {
                data: null,
                render: function (data, type, row, meta) {
                    const pageIdx = parseInt($('#PAGE_INDEX').val() || 1);
                    const pageRow = parseInt($("#pageRow").val() || 10);

                    return tableTotalLength - ((pageIdx - 1) * pageRow) - meta.row;
                }
            },
            {
                data: null,
                render: function (data, type, row, meta) {
                    return data.type == '1' ? "공지사항" : "FAQ"
                }
            },
            {data: 'title'},
            {data: 'userName'},
            {
                data: null,
                render: function (data, type, row, meta) {
                    if (data.pop_yn === 'Y') {
                        return '<span class="badgeUse">사용</span>';
                    } else {
                        return '<span class="badgeNo">미사용</span>';
                    }
                }
            },
            {
                data: null,
                render: function (data, type, row, meta) {
                    if (!data || !data.regDt) {
                        return '<span>-</span>';
                    }

                    return '<span>' + data.regDt + '</span>';
                }
            },
            {
                data: null,
                render: function (data, type, row, meta) {
                    if (!data || !data.modDt) {
                        return '<span>-</span>';
                    }

                    return '<span>' + data.modDt + '</span>';
                }
            },
            {
                data: null,
                render: function (data, type, row, meta) {
                    let strData = JSON.stringify(data);
                    strData = strData.replaceAll("\"", "'");
                    return `<button class="btnType btnColorB btnSize22 txtBlue"onclick=\"fn_boardPopupView(${strData})\">내용확인</button>`;
                }
            },
            {
                data: null,
                render: function (data, type, row, meta) {
                    return '<button class="btnType btnColorB btnSize22 txtBlue" onclick=\'fn_boardRegister("' + data.boardSeq + '")\'>수정하기</button>';
                }
            },
            {
                data: null,
                render: function (data, type, row, meta) {
                    return '<button class="btnType btnColorR btnSize22 txtRed" onclick=\'fn_notUsedBoard("' + data.boardSeq + '")\'>삭제</button>';
                }
            }
        ]

        $('#searchList').DataTable({
            destroy: true,
            data: data,
            columnDefs: [
                {targets: '_all', className: 'text-center'}
            ],
            columns: columns,
            scrollY: false,
            scrollX: false,
            paging: true,
            pageLength: 100,
            dom: 't',
            language: {
                emptyTable: "조회하신 결과가 없습니다",
                info: "Showing _START_ to _END_ of _TOTAL_ entries"
            },
            order: [0, 'desc']
        });
        $('.total2 #totalCount').html(numberWithCommas(tableTotalLength));
    }

    function fn_boardRegister(seq) {
        let url = `/recruit/admin/board/boardRegister`;
        if (seq) {
            url += "/" + seq
        }
        location.href = url;

    }

    function fn_boardPopupView(data) {
        $('#popLayer').removeClass('popClose');
        const displayDate = (data?.modDt || data?.regDt) || "";

        $('#popBoardType').text(data.type == '1' ? "공지사항" : "FAQ");
        $('#popBoardRegDt').text(displayDate);
        $('#popBoardWriter').text(data.userName);
        $('#popBoardTitle').text(data.title);
        $('#popBoardContent').html(data.content);

        $('#popPeriodNone').hide();
        $('#popPeriodWrap').hide();
        $('#popPeriodForever').hide();

        const yn = (data?.period_yn || '').toString().trim();
        const start = data?.periodStartDt || '';
        const end = data?.periodEndDt || '';

        // 기간 미사용
        if (yn !== 'Y') {
            $('#popPeriodNone').show();
            return;
        }

        // 기간 사용
        $('#popPeriodWrap').show();
        $('#popPeriodStart').text(start || '-');

        // 종료일 없으면 무기한
        if (!end) {
            $('#popPeriodEnd').text('');          // ~ 뒤쪽 비우고
            $('#popPeriodForever').show();        // 무기한 표시
        } else {
            $('#popPeriodEnd').text(end);
        }
    }

    function fn_notUsedBoard(seq) {
        confirmModal({
            title: '삭제하시겠습니까?', cancelUse :true,'confirm': function () {
                alertLayerClose();
                $.ajax({
                    url :  "/recruit/admin/board/ajax/notUsedBoard",
                    data : seq,
                    type : 'POST',
                    contentType : 'application/json',
                    beforeSend: function() {
                        $('.loading').show();
                    },
                    success : function(data) {
                        let msg = data.msg;
                        confirmModal({
                            title: msg, 'confirm': function () {
                                alertLayerClose();
                                if (String(data.resultCd).toUpperCase() === 'S') {
                                    getHistoryList();
                                }else {
                                    confirmModal({title : String(data.resultMsg)});
                                }
                            }
                        });
                    },
                    error : function(xhr, status, error) {
                        confirmModal({title: xhr.statusText});
                    },
                    complete: function() {
                        $('.loading').hide();
                    }
                });
            }
        });

    }
</script>
</html>