@charset "utf-8";

@font-face {
    font-family: 'NotoSansKR';
    src: local('NotoSansKR'), local('NotoSansKR'),
    url('/fonts/admin/NotoSansKR-Thin.woff2') format('woff2'),
    url('/fonts/admin/NotoSansKR-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSansKR';
    src: local('NotoSansKR'), local('NotoSansKR'),
    url('/fonts/admin/NotoSansKR-Light.woff2') format('woff2'),
    url('/fonts/admin/NotoSansKR-Light.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSansKR';
    src: local('NotoSansKR'), local('NotoSansKR'),
    url('/fonts/admin/NotoSansKR-DemiLight.woff2') format('woff2'),
    url('/fonts/admin/NotoSansKR-DemiLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSansKR';
    src: local('NotoSansKR'), local('NotoSansKR'),
    url('/fonts/admin/NotoSansKR-Regular.woff2') format('woff2'),
    url('/fonts/admin/NotoSansKR-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSansKR';
    src: local('NotoSansKR'), local('NotoSansKR'),
    url('/fonts/admin/NotoSansKR-Medium.woff2') format('woff2'),
    url('/fonts/admin/NotoSansKR-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSansKR';
    src: local('NotoSansKR'), local('NotoSansKR'),
    url('/fonts/admin/NotoSansKR-Bold.woff2') format('woff2'),
    url('/fonts/admin/NotoSansKR-Bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSansKR';
    src: local('NotoSansKR'), local('NotoSansKR'),
    url('/fonts/admin/NotoSansKR-Black.woff2') format('woff2'),
    url('/fonts/admin/NotoSansKR-Black.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}