<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

    <head>
        <div th:replace="~{|recruit/include/user/inc_head|}"></div>
    </head>
    <body>
    <section>
        <div class="header-box">
            <div th:replace="~{|recruit/include/user/mobile/inc_mobile_header|}"></div>
        </div>
    </section>
    <section class="sub-menu">
            <div class="sub-menu__box">
                <div class="sub-menu__company">
<!--                    <button class="company" type="button" onclick="movePage('/recruit/user/selectPart')">기업 회원이신가요?</button>-->
                    <div class="company">기업회원으로 로그인 중 입니다.</div>
                </div>
                <div class="sub-menu__part">
                    <div class="sub-menu__btn">
                        <div class="sub-menu__icon my-icon"></div>
                        <div>MY</div>
                    </div>
                    <div class="menu-btn">
                        <button type="button" onclick="movePage('/recruit/user/mobileCompanyMy?type=jobposting')">공고등록</button>
                        <button type="button" onclick="movePage('/recruit/user/mobileCompanyMy?type=jobapply')">공고/지원자 관리</button>
                        <button type="button" onclick="movePage('/recruit/user/mobileCompanyMy?type=company')">기업인증</button>
                        <button type="button" onclick="movePage('/recruit/user/mobileMy?type=resume')">이력서 관리</button>
                        <button type="button" onclick="movePage('/recruit/user/mobileMy?type=apply')">지원내역</button>
                        <button type="button" onclick="movePage('/recruit/user/mobileMy?type=favorite')">관심공고</button>
                    </div>
                </div>
                <div class="sub-menu__part">
                    <div class="sub-menu__btn">
                        <div class="sub-menu__icon reinfo-icon"></div>
                        <div>채용정보</div>
                    </div>
                    <div class="menu-btn">
                        <button type="button" onclick="movePage('/recruit/user/mobileInfo?type=region')">지역별</button>
                        <button type="button" onclick="movePage('/recruit/user/mobileInfo?type=job')">직종별</button>
                    </div>
                </div>
                <div class="sub-menu__part">
                    <div class="sub-menu__btn">
                        <div class="sub-menu__icon call-icon"></div>
                        <div>고객센터</div>
                    </div>
                    <div class="menu-btn">
                        <button onclick="movePage('/recruit/user/faqPage')">FAQ</button>
                        <button onclick="movePage('/recruit/user/notice')">공지사항</button>
                        <a href="tel:15660821">고객센터 연락</a>
                        <a href="mailto:payma@payma.co.kr">이메일 문의</a>
                        <button type="button" onclick="movePage('/main')">통합 홈으로 이동</button>
                    </div>

                </div>
            </div>
    </section>
    </body>
</html>